{% load static %}
{%include 'header.html'%}
<hr style="border: 1px solid;  margin: 20px auto;">
{%block content%}

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Subject</h5>
            <h1>Registration</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-secondary rounded p-5">
                    <div id="success"></div>
                    <form   method="POST" enctype="multipart/form-data" >
                        {% csrf_token %}
                        
                        <div class="control-group">
                            <label for="semester">Semester:</label>
                            <select name="semester" id="semester" required>
                                <option value="">Select Semester</option>
                                {% for semester in semesters %}
                                <option value="{{ semester.id }}">{{ semester.name }}</option>
                                {% endfor %}
                            </select><br><br>
                            <p class="help-block text-danger"></p>
                        </div>

                        <div class="control-group">
                             <label for="name">Subject Name:</label>
                            <input type="text" name="name" id="name" required><br><br>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <label for="course_code">Course Code:</label>
                            <input type="text" name="course_code" id="course_code"><br><br>
                           <p class="help-block text-danger"></p>
                       </div>
                        
                       <div class="control-group">
                        <label for="teacher">Assign Teacher:</label>
                        <select name="teacher" id="teacher" required>
                            <option value="">Select Teacher</option>
                            {% for teacher in teachers %}
                            <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                            {% endfor %}
                        </select><br><br>
                        <p class="help-block text-danger"></p>
                    </div>
                    
                       
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-5" type="submit" id="Submit">ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
</body>
{%endblock%}
{%include 'footer.html'%}
