{% include 'header.html' %}
<hr style="border: 1px solid;  margin: 20px auto;">
{% load static %}
{% block content %}
<br><br>
<center><h1> Profile</h1></center>

<style>
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem;
}
.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}
.text-secondary {
    color: #343a40 !important;
}
</style>

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{% if user_data.profile_picture %}{{ user_data.profile_picture.url }}{% else %}{% static 'default-avatar.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ user_data.name }}</h4>
                                <h6>{{ user_type|capfirst }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
                            <div class="col-sm-9 text-secondary">{{ user_data.email }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Phone</h6></div>
                            <div class="col-sm-9 text-secondary">{{ user_data.phone }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Department</h6></div>
                            <div class="col-sm-9 text-secondary">{{ user_data.department }}</div>
                        </div>
                        <hr>

                        {% if user_type == "teacher" or user_type == "hod" %}
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Experience</h6></div>
                            <div class="col-sm-9 text-secondary">{{ user_data.experience }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Qualification</h6></div>
                            <div class="col-sm-9 text-secondary">{{ user_data.qualification }}</div>
                        </div>
                        {% endif %}

                        {% if user_type == "student" %}
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Age</h6></div>
                            <div class="col-sm-9 text-secondary">{{ user_data.age }}</div>
                        </div>
                        <hr>
                        <div class="mt-3 text-center">
                            <a href="{% url 'progress_report' %}" class="btn btn-primary">
                                View Progress Report
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include 'footer.html' %}
